.root {
  padding: 30px;
}

.padding {
  padding: 20px;
}

.paper {
  background-color:#272822 !important;
  color: white !important;
}

.title{
  border: 1px solid rgba(0,0,0,0.25);
  padding: 10px;
  border-radius: 4px;
}

.center{
text-align: center;
margin-bottom: 20px;
}

.indent{
  margin-left: 25px;
  }

.prmd{
    padding-right: 15px;
}

.mrmd{
  margin-right: 15px;
}

  .floatRight {
float: right;
  }
